{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }],
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/plugin-syntax-optional-chaining"]
}
